*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
                                             
    transition: all .05s ease-in-out; 

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color: rgb(33, 33, 33);
}
p, span, button, input, textarea, label, a, td, th, li{
    font-size: 18px;
    text-align: justify;
    text-justify: center;
    
    line-height: 1.50;
}
td, th{
    text-align: end;
    text-transform: uppercase;

    padding: 2px;
    padding-left: 18px;
    padding-right: 18px;
}

/*the container*/
#root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto auto);
    max-width: 100vw;

    background-color: rgba(255, 166, 0, 0.1);
}
 
/* nav */
nav{
    height: 4vh;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    grid-template-rows: 1fr;
}
nav ul *{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    list-style-type: none;
    text-decoration: underline rgba(255, 166, 0, 0);
}
nav ul *:hover{
    color: orange;
    text-decoration: underline orange;
}

/*the main data page*/

#main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto,auto);

    justify-items: center;
}
#main-container h1{
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}
#main-container h4{
    font-weight: 500;
}
button{
    background-color: rgba(255, 166, 0, 0);
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;

    margin-top: 20px;

    border: none;

    cursor: pointer;
    align-self: center;
}
table{
    border-collapse: collapse;
    border: 1px solid rgb(122, 122, 122);

    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),
                0 2px 4px rgba(0,0,0,0.4);

    margin: 10px;
    margin-top: 4px;
}
th{
    text-align: center;
    padding: 2px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
}
.rank, .ranks, .symbols, .name{
    text-align: center!important;
}
.tr1{
    background-color: rgb(20, 20, 20)!important;
}
.tr1 *{
    color: rgb(255, 248, 234);
}
tr:nth-child(2n){
    background-color: rgba(255, 166, 0, 0.6);
}
tr:nth-child(2n+1){
    background-color: rgba(255, 166, 0, 0.4);
}
.usd-coin, .binance-usd, .tether, .dai, .internet-computer{
    /*background-color: rgba(255, 166, 0, 0.1)!important;*/
    text-transform: uppercase;
}
td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7), td:nth-child(8), td:nth-child(9){
    text-align: end;
}
#main-container span{
    margin-left: 10px;
    margin-bottom: 20px;
}
a{
    cursor: pointer;
    font-weight: 500;
}

/* faq */
#faq-container{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto 1fr;

    height: 96vh;
}
.sticky-sidebar{
    grid-row: 1 / span 2;
    grid-column: 1;
    height: 100%;

    width: 200px;
    overflow-x: hidden;
    position: fixed;

    z-index: 1;
    background-color:yellowgreen;

    display: grid;
    align-content: center;
    justify-content: center;
}
.sticky-sidebar ul{
    list-style-type: none;
    width: 200px;
}
.sticky-sidebar ul li{
    cursor: pointer;
    text-indent: 30px;
    font-size: 20px;
    line-height: 1.4;
}
.none:hover{
    background-color: white;
}
.li-header{
    text-indent: 10px!important;
    text-transform: uppercase;
    cursor:auto!important;
}
.current{
    background-color: gold!important;
}


.faq-h1{
    grid-row: 1;
    grid-column: 1 / span 2;
    margin-top: 20px;
    margin-left: 10px;

    max-width: 1200px;
    justify-self: center;
}
.faq-h1 h1{
    letter-spacing: 1px;
    font-weight: 500;
}
.faq-subcontainer{
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.desc-mean, .desc-var, .desc-vol, .desc-cov, .desc-cor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, auto);

    justify-self: center;

    padding: 20px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1000px;
    border-radius: 2px;

    background-color: rgba(255, 166, 0, 0.2);

    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1),
                0 2px 4px rgba(0,0,0,0.2);
}
.MathJax{
    padding-left:30px;
    padding-right: 30px;
    max-width: 1200px;
}
.faq-subcontainer * ul{
    margin-left: 60px;
    margin-right: 60px;
    max-width: 1200px;
}
.faq-subcontainer * h2{
    margin-bottom: 4px;
    font-weight: 500;
}
.faq-subcontainer * p{
    max-width: 1200px;
}
.mjs, .mjs *{
    font-size: 28px;
    color: rgb(24, 24, 24);
}

/* ABOUT */
#about-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;

    min-height: 92vh;
}
#about-container .about-h1{
    margin-top: 20px;
    margin-left: 10px;

    max-width: 1200px;
    justify-self: center;
}
.about-h1 h1{
    letter-spacing: 1px;
    font-weight: 500;
}
.p-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, auto);

    justify-self: center;

    padding: 20px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1200px;
    border-radius: 2px;

    border: 1px solid rgb(218, 218, 218);
    background-color: rgba(255, 166, 0, 0.2);
    
    box-shadow: 0 2px 4px rgba(0,0,0,0.1),
                0 2px 4px rgba(0,0,0,0.2);
}
.p-container p{
    margin: 10px;
}

/* Footer */
footer{
    height: 4vh;
    border-top: 1px solid rgb(83, 83, 83);
    display: grid;
}
footer span{
    font-size: 14px;
    justify-self: center;
    align-self: center;
}

/* LAPTOP SIZE */
@media screen and (max-width: 1440px){
    .mjs, .mjs *{
        font-size: 22px!important;
    }
}

/* IPAD SIZE */
@media screen and (max-width: 1023px){
    p, span, button, input, textarea, label, a, td, th, li{
        font-size: 16px;
    }
    h1{
        font-size: 30px;
    }
    .mjs, .mjs *{
        font-size: 20px!important;
    }
    th, td{
        padding: 2px;
        padding-left: 4px;
        padding-right: 4px;
    }
    table{
        margin: 4px;
    }
}

/* h1 too long */
@media screen and (max-width: 711px){
    table{
        
    overflow-x: scroll;
    overflow-y: scroll;
    }
    h1{
        font-size: 20px;
    }
    h4, h2{
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
    .mjs, .mjs *{
        font-size: 16px!important;
    }
}